<div class="container">
    <div class="row col-6 mx-auto">
        <div class="card">
            <div class="card body">
                <div class="form" >
                    <div class="col-md-12 mb-2">
                        <label for="">Name</label>
                        <input type="text" name = "name" placeholder="Name" class="form-control">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="">Email</label>
                        <input type="text" name = "email" placeholder="Email" class="form-control">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="">Age</label>
                        <input type="text" name = "age" placeholder="Age" class="form-control">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="">Designation</label>
                        <input type="text" name = "designation" placeholder="Designation" class="form-control">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
            </div>
        </div>
    </div>
</div>